*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
 }
 html, body{
     height: 100%;
     width: 100%;
     background-color: rgb(147, 37, 37);
 }
 #button{
    padding: 50px;
 }
 #button button{
    height: 50px;
    width: 150px;
    font-size: 30px;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
 }
 button::after{
      content: "";
      width: 0;
      height: 50px;
      background-color: antiquewhite;
      left: 0;
      top: 0;
      position: absolute;
      transition: all linear;
      z-index: -1;
 }
 button:hover::after{
    background-color: blueviolet;
 }